# Default ignored files
*.iml
.gradle
/local.properties
.DS_Store
/build
/shelf/
/composeApp/.idea/workspace.xml
.idea
build
composeApp/DesktopPlugin.db
local.properties
.kotlin
composeApp/src/androidMain/res/xml
composeApp/src/commonMain/res/xml